/**
 * @file
 * CSS for the Codepen Field module output.
 *
 * Added when field is rendered.
 */

.codepen {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}
