{#
/**
 * @file
 * Default theme implementation to display an embedded Codepen embed.
 *
 * Available variables:
 * - user_id: The user ID of the Codepen embed. Used to construct the iframe's src.
 * - codepen_id: The pen ID of the Codepen embed. Used to construct the iframe's src.
 * - height: Height set in field settings. Custom value, 300, 400 or none.
 * - content_attributes: array of HTML attributes populated by modules, intended
 *   to be added to the Codepen embed code.
 *   - data-theme-id: Config setting for light or dark theme.
 *   - data-preview: Config setting. Click-to-run option is enables if true.
 *   - data-editable: Config setting. Pen is editble if true
 *   - data-slug-hash: codepen_id.
 *   - data-user: user_id.
 *   - data-default-tab: Comma seperated string to set default HTML, JS, CSS and result tab.
 *   - data-height: Same as height.
 *   - class: 'codepen' by default.
 * - attributes: array of HTML attributes populated by modules, intended to be
 *   added to the element wrapping the embedded Codepen.
 *   - codepen_container_class
 * - url: The URL of the Codepen embed.
 *
 * @see template_preprocess_codepen_embed()
 *
 * @ingroup themeable
 */
#}

<div {{ attributes }}>
  <p {{ content_attributes }}  style="
    height: {{ height ? height ~ 'px' : 'auto' }};
  ">
      <span> <a href="{{ url }}">
    See the Pen</a> by <a href="https://codepen.io/{{ user_id }}">@{{ user_id }}</a>
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
</div>
